name: Release Charts

on:
    workflow_call:
        inputs:
            APP_NAME:
                type: string
                required: false
                default: ''
            APP_VERSION:
                type: string
                required: false
                default: ''
            LOCATION:
                type: string
                required: true
        secrets:
            CHART_USER:
                required: true
            CHART_PASS:
                required: true
            DEV_KUBE_CONFIG:
                required: true

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
                with:
                    repository: trend-dev/tr-helm-chart
                    ref: ${{ github.event.inputs.LOCATION }}
                    fetch-depth: 0

            -   name: Check
                run: |
                    echo ${{ github.event.inputs.APP_NAME }}
                    echo ${{ github.event.inputs.APP_VERSION }}

            -   name: Configure Git
                run: |
                    git config user.name "$GITHUB_ACTOR"
                    git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

            -   name: Install Helm
                uses: azure/setup-helm@v1
                with:
                    version: v3.7.1

            -   name: Add trend repo
                shell: bash
                run: |
                    helm repo add trend http://trend-dev.ru:5000 --username ${{ secrets.CHART_USER }} --password ${{ secrets.CHART_PASS }}

            -   name: Prepare propertyPath
                id: path
                run: echo "::set-output name=VALUE::$.dependencies[?(@.name=='${{ github.event.inputs.APP_NAME }}')].version"

            -   name: Add Kube config
                shell: bash
                run: |
                    mkdir ~/.kube
                    echo ${{ secrets.DEV_KUBE_CONFIG }} > ~/.kube/config
                    cat ~/.kube/config

            -   name: Update Image Version in the related HelmChart values.yaml
                if: github.event.inputs.APP_VERSION != ''
                uses: fjogeleit/yaml-update-action@master
                with:
                    valueFile: 'charts/tr-system/Chart.yaml'
                    propertyPath: ${{ steps.path.outputs.VALUE }}
                    value: ${{ github.event.inputs.APP_VERSION }}
                    branch: ${{ github.event.inputs.LOCATION }}
                    message: Update ${{ github.event.inputs.APP_NAME }}
                    updateFile: true

            -   name: Upgrade
                shell: bash
                run: |
                    cd ./charts/tr-system/
                    helm dependency build ./
                    helm upgrade tr-system --install --namespace ${{ github.event.inputs.LOCATION }} ./ --atomic 
