name: Release Charts

on:
    workflow_call:
        inputs:
            APP_NAME:
                type: string
                required: false
                default: ''
            APP_VERSION:
                type: string
                required: false
                default: ''
            LOCATION:
                type: string
                required: true
            DOCKER_REGISTRY:
                description: "Docker registry for helm chart"
                type: string
                required: false
                default: "docker-registry.trendagent.ru:5000"
        secrets:
            DOCKER_REGISTRY_USER:
                required: true
            DOCKER_REGISTRY_PASSWORD:
                required: true
            DEV_KUBE_CONFIG:
                required: true
            TOKEN:
                required: true

jobs:
    release:
        runs-on: self-hosted
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
                with:
                    repository: trend-dev/tr-helm-chart
                    ref: ${{ github.event.inputs.LOCATION }}
                    fetch-depth: 0

            -   name: Check
                run: |
                    echo ${{ inputs.APP_NAME }}
                    echo ${{ inputs.APP_VERSION }}

            -   name: Install Helm
                uses: azure/setup-helm@v3
                with:
                    version: v3.8.0

            -   name: Add trend repo
                shell: bash
                run: |
                    helm registry login -u ${{ secrets.DOCKER_REGISTRY_USER }} -p ${{ secrets.DOCKER_REGISTRY_PASSWORD }} ${{ inputs.DOCKER_REGISTRY }}

            -   name: Prepare propertyPath
                id: path
                run: echo "::set-output name=VALUE::$.dependencies[?(@.name=='${{ inputs.APP_NAME }}')].version"

            -   name: Add Kube config
                shell: bash
                run: |
                    mkdir -p ~/.kube
                    echo ${{ secrets.DEV_KUBE_CONFIG }} | base64 -d > ~/.kube/config

            -   name: Update Image Version in the related HelmChart values.yaml
                if: inputs.APP_VERSION != ''
                uses: fjogeleit/yaml-update-action@master
                with:
                    valueFile: 'charts/tr-system/Chart.yaml'
                    propertyPath: ${{ steps.path.outputs.VALUE }}
                    value: ${{ inputs.APP_VERSION }}
                    branch: ${{ inputs.LOCATION }}
                    message: Update ${{ inputs.APP_NAME }}
                    updateFile: true
                    repository: trend-dev/tr-helm-chart
                    token: ${{ secrets.TOKEN }}

            -   name: Upgrade
                shell: bash
                run: |
                    cd ./charts/tr-system/
                    helm dependency build ./
                    helm upgrade tr-system --install --namespace ${{ inputs.LOCATION }} ./
