name: Release Charts

on:
    push:
        branches:
            - master
            - team-05

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
                with:
                    fetch-depth: 0

            -   name: Configure Git
                run: |
                    git config user.name "$GITHUB_ACTOR"
                    git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

            -   name: Install Helm
                uses: azure/setup-helm@v1
                with:
                    version: v3.7.1

            -   name: Add trend repo
                shell: bash
                run: |
                    helm repo add trend http://trend-dev.ru:5000 --username ${{ secrets.CHART_USER }} --password ${{ secrets.CHART_PASS }}

            -   name: Prepare propertyPath
                id: path
                env:
                    APP_NAME: "tr-trendrealty-api"
                run: echo "::set-output name VALUE=$.dependencies[?(@.name=${APP_NAME})].version"

            -   name: Update Image Version in the related HelmChart values.yaml
                uses: fjogeleit/yaml-update-action@master
                with:
                    valueFile: 'charts/tr-system/Chart.yaml'
                    propertyPath: ${{ steps.path.outputs.VALUE }}
                    value: "100.500.0-check"
                    branch: "team-05"
                    message: "Update ${APP_NAME}"

            -   name: Deploy
                shell: bash
                run: |
                    cd ./charts/tr-system/
                    helm dependency build ./
                    helm upgrade tr-system --install --namespace ${{ github.ref }} ./ --atomic 
